/* Global */
* {
	margin: 0;
	padding: 0;
	font-family: 'Maven Pro', sans-serif;
    color: white;
}

section {
	width: 100%;
	min-height: 100vh;
	padding-top: 8.5em;
	padding-bottom: 10rem;
	padding-left: 10rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: relative;
}

.section-center {
	padding-top: 0;
	justify-content: center;
}

h1 {
	font-size: 3.85rem;
	font-weight: 700;
}

h2 {
	font-size: 3.15rem;
	font-weight: 500;
}

h2::after {
	content: "";
	display: block;
	width: 3.5em;
	height: 0.05em;
	margin: 0.35em 0;
	background-color: rgb(2, 149, 243);
}

h2 span {
	display: block;
}

h3 {
	margin-top: 0.35em;
	font-size: 1.35rem;
	font-weight: 400;
}

h4 {
	margin-bottom: 1.85em;
	font-size: 1.15rem;
	font-weight: 700;
	color: rgb(2, 149, 243);
}

p {
	width: 35rem;
	margin-top: 1.35em;
	font-size: 1.15rem;
	line-height: 2.25rem;
	letter-spacing: 0.05rem;
}

a {
	text-decoration: none;
	font-style: italic;
	font-weight: 700;
}

@media(min-width: 735px) {
	a:hover {
		outline: none;
		background-color: rgba(2, 149, 243, 0.5);
		border-bottom: 2px solid rgb(2, 149, 243);
	}
}

a:focus {
	outline: 3px solid rgb(2, 149, 243);
	background-color: none;
}

.container-button {
	margin-top: 1.85em;
	display: flex;
}

.container-button-center {
	display: flex;
	justify-content: center;
}

.button-parent {
	height: 4.5em;
	width: 18.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 0;
	position: relative;
	box-sizing: border-box;
}

.button-parent button {
	width: 100%;
	height: 100%;
	padding: 1.15em 2.35em;
	font-size: 1.15rem;
	border: none;
	border-radius: 3.5em;
	background-color: transparent;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 150ms background-color, 150ms color, font-size 150ms, margin 150ms, border 150ms, width 150ms, height 150ms;
	position: absolute;
	box-sizing: border-box;
	border: 2px solid transparent;
}

.button-primary-main {
	margin-right: 2.5em;
}

.button-primary-main button {
	font-weight: 700;
	color: rgb(30, 33, 38);
	background-color: rgb(255, 255, 255);
}

.button-primary-main button i {
	margin-left: 0.5em;
	font-size: 1.25rem;
	color: rgb(30, 33, 38);
	transition: 250ms background-color, 250ms color;
}

.button-primary button {
	font-weight: 500;
	border: 2px solid rgb(255, 255, 255);
}

@media(min-width: 735px) {
	.button-parent:hover button {
		width: 115%;
		height: 115%;
		color: white;
		font-size: 1.35rem;
		background-color: rgba(2, 149, 243, 0.5);
		outline: none;
		border-color: transparent;
	}

	.button-parent:hover button i {
		color: white;
	}
}

.button-parent button:focus {
	outline: 0.2rem solid rgb(2, 149, 243);
}

.button-secondary {
	width: 12.5em;
	height: 3.5rem;
}

.button-secondary button {
	font-size: 1rem;
	font-weight: 700;
	color: rgb(255, 255, 255);
	background-color: rgb(2, 149, 243);
}

@media(min-width: 735px) {
	.button-secondary:hover button {
		font-size: 1.15rem;
	}
}

.button-secondary button:focus {
	outline: 0.2rem solid white;
}

.button-scroll {
	margin-left: calc((100% - 2.85rem - 0.85rem - 0.2rem) / 2 - 10rem);
	margin-bottom: 0.65em;
	margin-right: 0;
	padding: 0.85rem;
	bottom: 0;
	font-size: 2.85rem;
	position: absolute;
	transition: font-size 100ms, margin-left 100ms, background-color 100ms;
	background-color: transparent;
	cursor: pointer;
	border-radius: 3.5em;
	border: none;
}

@media(min-width: 735px) {
	.button-scroll:hover {
		margin-left: calc((100% - 3.35rem - 0.85rem - 0.2rem) / 2 - 10rem);
		font-size: 3.35rem;
		background-color: rgba(2, 149, 243, 0.5);
	}
}

.button-scroll:focus {
	outline: 0.2rem solid rgb(2, 149, 243);
}

form {
	width: 35rem;
	margin-top: 2.35em;
	font-size: 1.15rem;
}

.form-row {
	width: 100%;
	display: flex;
	margin-bottom: 1.85em;
}

.form-row-inline {
	justify-content: space-between;
}

.form-row-element {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.form-row-element-spacer {
	margin-right: 2em;
}

label {
	margin-bottom: 0.35em;
	padding-left: 1.35em;
	font-weight: 700;
}

.form-element-input {
	width: 100%;
	height: 3.5em;
	padding: 1.35em;
	font-size: 1rem;
	border-radius: 1.85em;
	color: rgb(30, 33, 38);
	background-color: rgb(255, 255, 255);
	border: none;
	transition: background-color 100ms;
}

@media(min-width: 735px) {
	.form-element-input:hover {
		background-color: rgba(255, 255, 255, 0.85);
	}
}

.form-element-input:focus {
	outline: 0.2rem solid rgb(2, 149, 243);
}

.form-element-input-large {
	height: 8.5em !important;
	resize: none;
}

small {
	margin: 0.65em auto 0 auto;
	font-style: italic;
}

canvas {
	width: 100%;
	height: 100%;
    top: 0;
	position: fixed;
    z-index: -999;
}

footer {
	height: 3.5em;
	background-color: rgb(24, 24, 24);
	display: flex;
	align-items: center;
	justify-content: center;
}

@media(max-width: 1485px) {
	section {
		padding-top: 5rem;
		padding-left: 5rem;
	}

	.button-scroll {
		margin-left: calc((100% - 2.85rem - 0.85rem - 0.2rem) / 2 - 5rem);
	}

	.button-scroll:hover {
		margin-left: calc((100% - 3.35rem - 0.85rem - 0.2rem) / 2 - 5rem);
	}
}

@media(max-width: 1335px) {
	section {
		padding-top: 3.5rem;
		padding-left: 3.5rem;
	}

	.button-scroll {
		margin-left: calc((100% - 2.85rem - 0.85rem - 0.2rem) / 2 - 3.5rem);
	}

	.button-scroll:hover {
		margin-left: calc((100% - 3.35rem - 0.85rem - 0.2rem) / 2 - 3.5rem);
	}
}

@media(max-width: 735px) {
	section {
		min-height: auto;
		margin-bottom: 8.5em;
		padding-top: 2.85rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		padding-bottom: 0;
	}

	h1 {
		font-size: 3rem;
	}

	h3 {
		font-size: 1.15em;
	}

	h2 {
		font-size: 2.5rem;
	}

	h4 {
		font-size: 1rem;
		margin-bottom: 0.85em;
	}

	p {
		width: auto;
		font-size: 1rem;
	}
	
	.container-button {
		margin-top: 0;
		flex-direction: column;
		align-items: flex-start;
	}

	.button-parent {
		width: 100%;
		min-width: 11em;
		height: 3.85em;
		margin-top: 2.15em;
	}

	.button-parent button {
		font-size: 1rem;
	}

	.button-scroll {
		display: none;
	}

	form {
		width: 100%;
		margin-top: 0;
		font-size: 1rem;
	}
	
	.form-row {
		flex-direction: column;
		margin-bottom: 0;
	}
	
	.form-row-element {
		margin-top: 2.15em;
	}
}


/* Landing */
#landing {
	padding-top: 10rem;
}

#skill {
	color: rgb(2, 149, 243);
	font-weight: 700;
	transition: 350ms opacity;
}

.skill-fadein {
	opacity: 1;
}

.skill-fadeout {
	opacity: 0;
}

@media(max-width: 735px) {
	#landing {
		min-height: 100vh;
		margin-bottom: 0;
		padding-top: 0;
	}
}


/* About */
.container-awards {
	width: 35rem;
	height: 7.5em;
	padding-top: 1.35em;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.image-parent-award {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.image-award {
	border-radius: 50%;
	position: absolute;
	
}

.image-award img {
	width: 6em;
	height: 6em;
	transition: width 100ms, height 100ms, margin 100ms;
}

@media(min-width: 735px) {
	.image-parent-award:hover img {
		width: 7.5em;
		height: 7.5em;
	}

	.image-parent-award:hover a {
		background-color: transparent;
		border: none;
	}
}

@media(max-width: 735px) {
	.container-awards {
		width: 100%;
	}
}


/* Work */
.container-work {
	width: 73.5rem;
}

.work {
	height: auto !important;
	width: auto;
	margin: 12.5em 0;
	display: flex;
	align-items: center;
	position: relative;
	font-style: normal;
}

.work:first-child {
	margin-top: 8.5em;
}

.work:last-child {
	margin-bottom: 5em;
}

@media(min-width: 735px) {
	.work:hover {
		background-color: transparent;
		border: none;
	}
}

.work-title {
	font-size: 1.65rem;
	font-weight: 700;
	margin-top: 0;
}

.work-title i {
	font-size: 0.85rem;
	margin-top: -0.35rem;
}

.work-description {
	width: 40rem;
	font-weight: 500;
	margin-bottom: 0.65em;
	padding-left: 1em;
	padding-bottom: 0.65em;
	border-left: 3.5px solid white;
	border-bottom: 3.5px solid white;
	position: relative;
}

.work-technology {
	display: flex;
}

.work-technology span {
	height: 100%;
	margin-right: 2.5em;
	font-weight: 700;
}

.container-work-image {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.work-image {
	right: 0;
	max-width: 35em;
	margin-left: -3.5em;
	filter: brightness(35%);
	z-index: -1;
	position: absolute;
	transition: filter 150ms, opacity 150ms, width 150ms, margin 150ms, max-width 150ms, right 150ms, left 150ms;
}

@media(min-width: 735px) {
	.work:hover img {
		right: -1.5rem;
		max-width: 38em;
		filter: brightness(85%);
		opacity: 0.65;
	}
}

.work-right {
	flex-direction: row-reverse;
	text-align: right;
}

.work-right .work-description {
	padding-left: 0;
	padding-right: 1em;
}

.work-right img {
	margin-left: 0;
	margin-right: -3.5em;
}

.work-right .work-image {
	left: 0;
}

@media(min-width: 735px) {
	.work-right:hover .work-image {
		left: -1.5rem;
	}
}

.work-right .work-description {
	border-left: none;
	border-right: 3.5px solid white;
	border-bottom: 3.5px solid white;
}

.work-right .work-technology {
	flex-direction: row-reverse;
}

.work-right .work-technology span {
	margin-right: 0;
	margin-left: 2.5em;
}

@media(max-width: 1335px) {
	.container-work {
		width: 42rem;
	}
	
	.work {
		width: 100%;
	}
	
	.container-work-image {
		position: absolute;
	}
	
	.work-image {
		left: auto;
		right: auto;
		margin-left: 0;
		filter: brightness(25%);
	}

	@media (min-width: 735px) {
		.work:hover img {
			right: auto;
			filter: brightness(35%);
		}
	}

	.work-right {
		flex-direction: row;
		text-align: left;
	}
	
	.work-right .work-description {
		padding-left: 1em;
		padding-right: 0;
	}
	
	.work-right img {
		margin-right: 0;
	}
	
	.work-right .work-image {
		left: auto;
	}
	
	.work-right:hover .work-image {
		left: auto;
	}
	
	.work-right .work-description {
		border-left: 3.5px solid white;
		border-right: none;
		border-bottom: 3.5px solid white;
	}
	
	.work-right .work-technology {
		flex-direction: row;
	}
	
	.work-right .work-technology span {
		margin-right: 2.5em;
		margin-left: 0;
	}
}

@media(max-width: 735px) {
	.container-work {
		width: 100%;
	}
	
	.work {
		width: 100%;
		margin: 8.5em 0;
	}

	.work:first-child {
		margin-top: 3.5em;
	}
	
	.work:last-child {
		margin-bottom: 1.5em;
	}

	.work div {
		width: 100%;
	}
	
	.work-title {
		font-size: 1.15rem;
	}

	.work-title i {
		font-size: 0.65rem;
	}

	.work-description {
		width: 100%;
		line-height: 1.85rem;
		box-sizing: border-box;
	}

	.work-technology span {
		margin-right: 1.85em;
	}
	
	.work-image {
		max-width: 100%;
		max-height: 135%;
		filter: brightness(20%);
	}
}
