/* Global */
* {
	margin: 0;
	padding: 0;
	font-family: 'Maven Pro', sans-serif;
    color: white;
}

section {
	width: 100%;
	min-height: 100vh;
	/* height: 100%; */
	padding-top: 8.5em;
	padding-bottom: 10em;
	padding-left: 10rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: relative;
}

.section-center {
	padding-top: 0;
	justify-content: center;
}

h1 {
	font-size: 3.85rem;
	font-weight: 700;
}

h2 {
	font-size: 3.15rem;
	font-weight: 500;
}

h2::after {
	content: "";
	display: block;
	width: 3.5em;
	height: 0.05em;
	margin: 0.35em 0;
	background-color: rgb(2, 149, 243);
}

h2 span {
	display: block;
}

h3 {
	margin-top: 0.35em;
	font-size: 1.35rem;
	font-weight: 400;
}

h4 {
	margin-bottom: 1.85em;
	font-size: 1.15rem;
	font-weight: 700;
	color: rgb(2, 149, 243);
}

p {
	width: 35rem;
	margin-top: 1.35em;
	font-size: 1.15rem;
	line-height: 2.25rem;
	letter-spacing: 0.05rem;
}

a {
	text-decoration: none;
	font-style: italic;
	font-weight: 700;
}

a:hover {
	outline: none;
	background-color: rgba(2, 149, 243, 0.5);
	border-bottom: 2px solid rgb(2, 149, 243);
}

a:focus {
	outline: 2px solid rgb(2, 149, 243);
	background-color: none;
}

.container-button {
	margin-top: 1.85em;
	display: flex;
}

.container-button-center {
	display: flex;
	justify-content: center;
}

.button-parent {
	height: auto;
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 0;
	position: relative;
}

button {
	padding: 1.15em 2.35em;
	font-size: 1.15rem;
	border: none;
	border-radius: 3.5em;
	background-color: transparent;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 150ms background-color, 150ms color, font-size 150ms, margin 150ms, border 150ms;
	position: relative;
	border: 2px solid transparent;
}

.button-primary-main {
	margin-right: 2.35rem;
	font-weight: 700;
	color: rgb(30, 33, 38);
	background-color: rgb(255, 255, 255);
}

.button-primary-main i {
	margin-left: 0.5em;
	font-size: 1.25rem;
	color: rgb(30, 33, 38);
	transition: 250ms background-color, 250ms color;
}

.button-primary {
	font-weight: 500;
	border: 2px solid rgb(255, 255, 255);
}

.button-primary-main:hover,
.button-primary:hover {
	margin: -0.5rem;
	margin-left: -1.5rem;
	margin-right: 1.35rem;
	color: white;
	font-size: 1.35rem;
	background-color: rgba(2, 149, 243, 0.5);
	outline: none;
	border-color: transparent;
}

.button-primary-main:focus,
.button-primary:focus {
	outline: 0.2rem solid rgb(2, 149, 243);
}

.button-primary-main:hover i,
.button-primary:hover i {
	color: white;
}

.button-primary-main:focus i,
.button-primary:focus i {
	
}

.button-secondary {
	font-size: 1rem;
	font-weight: 700;
	color: rgb(255, 255, 255);
	background-color: rgb(2, 149, 243);
}

.button-secondary:hover {
	margin: -0.35rem -0.65rem;
	color: white;
	font-size: 1.15rem;
	background-color: rgba(2, 149, 243, 0.5);
	outline: none;
	border-color: transparent;
}

.button-secondary:focus {
	outline: 0.2rem solid white;
}

.button-scroll {
	margin-left: calc((100% - 2.85rem - 0.85rem - 0.2rem) / 2 - 10rem);
	margin-bottom: 0.65em;
	margin-right: 0;
	padding: 0.85rem;
	bottom: 0;
	font-size: 2.85rem;
	position: absolute;
	transition: font-size 100ms, margin-left 100ms, background-color 100ms;
}

.button-scroll:hover {
	outline: none;
	margin-left: calc((100% - 3.35rem - 0.85rem - 0.2rem) / 2 - 10rem);
	font-size: 3.35rem;
	background-color: rgba(2, 149, 243, 0.5);
}

.button-scroll:focus {
	outline: 0.2rem solid rgb(2, 149, 243) !important;
}

form {
	width: 35rem;
	margin-top: 2.35em;
	font-size: 1rem;
}

.form-row {
	width: 100%;
	display: flex;
	margin-bottom: 1.5em;
}

.form-row-inline {
	justify-content: space-between;
}

.form-row-element {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.form-row-element-spacer {
	margin-right: 2em;
}

label {
	margin-bottom: 0.35em;
	padding-left: 1.35em;
	font-weight: 700;
}

.form-element-input {
	width: 100%;
	height: 3.5em;
	padding: 1.35em;
	font-size: 1rem;
	border-radius: 1.85em;
	color: rgb(30, 33, 38);
	background-color: rgb(255, 255, 255);
	border: none;
	transition: background-color 100ms;
}

.form-element-input:hover {
	background-color: rgba(255, 255, 255, 0.85);
}

.form-element-input:focus {
	outline: 0.2rem solid rgb(2, 149, 243);
}

.form-element-input-large {
	height: 8.5em !important;
	resize: none;
}

small {
	margin: 0.65em auto 0 auto;
	font-style: italic;
}

canvas {
	width: 100%;
	height: 100%;
    top: 0;
	position: fixed;
    z-index: -999;
}

footer {
	height: 3.5em;
	background-color: rgb(24, 24, 24);
	display: flex;
	align-items: center;
	justify-content: center;
}


/* Landing */
#skill {
	color: rgb(2, 149, 243);
	font-weight: 700;
	transition: 350ms opacity;
}

.skill-fadein {
	opacity: 1;
}

.skill-fadeout {
	opacity: 0;
}


/* About */
.container-awards {
	width: 35rem;
	padding-top: 1.85em;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.image-parent-award {
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-award {
	border-radius: 50%;
}

.image-award img {
	width: 6em;
	height: 6em;
	transition: width 100ms, height 100ms, margin 100ms;
}

.image-award:hover img {
	width: 7.5em;
	height: 7.5em;
	margin: -3.5em -0.75em;
}

.image-award:focus {
	outline: 2px solid rgb(2, 149, 243);
}


/* Work */
.container-work {
	width: 73.5rem;
	/* width: calc(100% - 10rem); */
}

.work {
	height: auto !important;
	width: auto;
	margin: 12.5em 0;
	display: flex;
	align-items: center;
	position: relative;
	font-style: normal;
}

.work:first-child {
	margin-top: 8.5em;
}

.work:last-child {
	margin-bottom: 5em;
}

.work:hover {
	background-color: transparent;
	border: none;
}

.work-title {
	font-size: 1.65rem;
	font-weight: 700;
	margin-top: 0;
}

.work-title i {
	font-size: 0.85rem;
	margin-top: -0.35rem;
}

.work-description {
	width: 40rem;
	font-weight: 500;
	margin-bottom: 0.65em;
	padding-left: 1em;
	padding-bottom: 0.65em;
	border-left: 3.5px solid white;
	border-bottom: 3.5px solid white;
	position: relative;
}

.work-technology {
	display: flex;
}

.work-technology span {
	height: 100%;
	margin-right: 2.5em;
	font-weight: 700;
}

.container-work-image {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.work-image {
	right: 0;
	max-width: 35em;
	margin-left: -3.5em;
	filter: brightness(35%);
	z-index: -1;
	position: absolute;
	transition: filter 100ms, opacity 100ms, width 100ms, margin 100ms, max-width 100ms, right 100ms, left 100ms;
}

.work:hover img {
	right: -1.5rem;
	max-width: 38em;
	filter: brightness(85%);
	opacity: 0.65;
}

.work-right {
	flex-direction: row-reverse;
	text-align: right;
}

.work-right .work-description {
	padding-left: 0;
	padding-right: 1em;
}

.work-right img {
	margin-left: 0;
	margin-right: -3.5em;
}

.work-right .work-image {
	left: 0;
}

.work-right:hover .work-image {
	left: -1.5rem;
}

.work-right .work-description {
	border-left: none;
	border-right: 3.5px solid white;
	border-bottom: 3.5px solid white;
}

.work-right .work-technology {
	flex-direction: row-reverse;
}

.work-right .work-technology span {
	margin-right: 0;
	margin-left: 2.5em;
}


/* Newsletter */
#button-signup {
	width: 10em;
}