.element {
	width: 15.35rem;
	height: 4rem;
	box-sizing: border-box;
	background-color: transparent;
	border-radius: var(--border-radius);
	border: none;
	font-size: 1.15rem;
	font-weight: 600;
	flex-grow: 0;
	position: relative;
	cursor: pointer;
	transition-property: transform, opacity;
	transition-duration: 100ms;
	transition-timing-function: ease-out;
	z-index: 0;
}

.element::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 0.65rem;
	z-index: -1;
	transition-property: opacity, outline-offset, inset;
	transition-duration: 100ms;
	transition-timing-function: ease-out;
}

.element:hover {
	transform: scale(1.085);
}

.element:focus {
	outline-offset: var(--outline-offset);
}

.element:active {
	transition: none;
	transform: scale(0.95);
	opacity: 0.35;
}

.element-primary {
	color: var(--color-neutral-white);
	border: var(--border-size) solid var(--color-primary);
}

.element-primary::before {
	background-color: var(--color-primary);
	opacity: 0.35;
}

.element-primary:hover::before {
	opacity: 0.15;
}

.element-primary:focus {
	outline: var(--border-size) solid var(--color-neutral-white);
}

.element-secondary {
	color: var(--color-neutral-white);
	border: var(--border-size) solid var(--color-neutral-white);
}

.element-secondary::before {
	background-color: var(--color-neutral-white);
	opacity: 0.15;
}

.element-secondary:hover:before {
	opacity: 0.05;
}

.element-secondary:focus {
	outline: var(--border-size) solid var(--color-primary);
}

@media (max-width: 650px) {
	.element {
		width: 100%;
	}

	.element:hover {
		transform: scale(1.1);
	}
}
