.container-partial {
	width: 52rem;
}

.header {
	margin-top: 3.5rem;
}

.header-info {
}

.header h1 {
	font-size: 4rem;
	line-height: 4.15rem;
}

.header-list {
	margin-top: 0.85em;
	list-style: none;
	display: flex;
}

.header-list li {
	margin: 0;
}

.header-list li span {
	margin: 0 0.65em;
}

.container-image {
	width: 100%;
	height: 22em;
	margin: 2.35em 0;
	position: relative;
	border-radius: var(--border-radius);
	overflow: hidden;
}

.image {
	object-fit: cover;
}

.container-tags {
	margin-top: 0.85em;
	display: flex;
}

.description {
	margin-bottom: 4.35em;
	font-style: italic;
}

.content {
	margin-bottom: 3.5rem;
}

.content h2 {
	margin: 1.85em 0 1.5rem 0;
}

.content h2:first-child {
	margin-top: 0;
}

.content p {
	margin-bottom: 1.5rem;
}

.content ul,
.content ol {
	margin-bottom: 1.5rem;
	padding-left: 1.15em;
}

.content ul li,
.content ol li {
	margin-bottom: 0.15em;
}

.content ul ul,
.content ul ol,
.content ol ul,
.content ol ol {
	margin-bottom: 0;
}

.content pre {
	margin: 1.85rem 0 1.85rem 0;
}

.content code {
	color: var(--color-primary);
}

@media (max-width: 650px) {
	.header {
		margin-top: 0;
	}

	.header-list {
		display: block;
	}

	.header-list span {
		display: none;
	}

	.content h2 {
		margin-bottom: 0.85rem;
	}

	.content p {
		margin-bottom: 0.85rem;
	}

	.content ul,
	.content ol {
		margin-bottom: 0.85rem;
	}
}
