.element {
	margin-bottom: 3.5em;
}

.title {
	font-size: 1.65rem;
	font-weight: 700;
	line-height: 1.35rem;
}

.date {
	margin-bottom: 0.65em;
	font-weight: 700;
	font-style: normal;
	color: var(--color-primary);
}

.summary {
	margin-top: 0.65em;
}

@media (max-width: 650px) {
	.title {
		line-height: 2rem;
	}

	.date {
		margin-bottom: 0.35em;
	}
}
