.container-full {
	min-height: 100vh;
}

.container-partial {
	padding: 5.25em 2.5rem;
}

.subheading {
	margin-bottom: 1.85em;
	font-size: 1.15rem;
	font-weight: 700;
	line-height: 1.15rem;
	color: var(--color-primary);
	letter-spacing: 0.015rem;
	text-transform: uppercase;
}

.heading {
	margin-bottom: 0.5em;
	font-size: 2.85rem;
	font-weight: 700;
	line-height: 3.35rem;
}

.divider {
	width: 12em;
	height: var(--border-size);
	margin-bottom: 3.5em;
	background-color: var(--color-primary);
}

@media (prefers-reduced-motion: no-preference) {
	.subheading {
		transform: scale(0.5);
		opacity: 0;
	}

	.heading {
		transform: translateX(-65px);
		opacity: 0;
	}

	.divider {
		transform: translateX(35px);
		opacity: 0;
	}

	.subheading-animate {
		transform: scale(1);
		opacity: 1;
	}
	.heading-animate {
		transform: translateX(0);
		opacity: 1;
	}
	.divider-animate {
		transform: translateX(0);
		opacity: 1;
	}
	.subheading-animate,
	.heading-animate,
	.divider-animate {
		transition-property: transform, opacity;
		transition-duration: var(--animation-duration);
		transition-timing-function: ease-out;
	}
}

@media (max-width: 650px) {
	.container-partial {
		padding: 3.15em 1.85rem;
	}

	.subheading {
		margin-bottom: 1.35em;
		font-size: 1rem;
	}

	.heading {
		margin-bottom: 0.35em;
		font-size: 2.35rem;
		line-height: 3rem;
	}

	.divider {
		margin-bottom: 2.35em;
	}
}
