.container-full {
	background-color: var(--color-secondary);
}

.container-partial {
	display: flex;
	justify-content: space-between;
}

.container-partial-small {
	width: 52rem !important;
	flex-direction: column;
}

.container-partial p {
	margin: 0;
	font-size: 1rem;
	font-weight: 600;
}

.container-partial-small p:not(:first-child) {
	margin-top: 0.35em;
}

@media (max-width: 850px) {
	.container-partial {
		padding-top: 3.15em !important;
		flex-direction: column;
	}

	.container-partial p:first-child {
		margin-bottom: 1.15em;
	}
}
