/* work-sans-300 - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/work-sans-v17-latin-300.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("/fonts/work-sans-v17-latin-300.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("/fonts/work-sans-v17-latin-300.woff2") format("woff2"),
		/* Super Modern Browsers */ url("/fonts/work-sans-v17-latin-300.woff")
			format("woff"),
		/* Modern Browsers */ url("/fonts/work-sans-v17-latin-300.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("/fonts/work-sans-v17-latin-300.svg#WorkSans") format("svg"); /* Legacy iOS */
	font-display: swap;
}

/* work-sans-regular - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/work-sans-v17-latin-regular.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("/fonts/work-sans-v17-latin-regular.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("/fonts/work-sans-v17-latin-regular.woff2")
			format("woff2"),
		/* Super Modern Browsers */ url("/fonts/work-sans-v17-latin-regular.woff")
			format("woff"),
		/* Modern Browsers */ url("/fonts/work-sans-v17-latin-regular.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("/fonts/work-sans-v17-latin-regular.svg#WorkSans") format("svg"); /* Legacy iOS */
	font-display: swap;
}

/* work-sans-600 - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 600;
	src: url("/fonts/work-sans-v17-latin-600.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("/fonts/work-sans-v17-latin-600.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("/fonts/work-sans-v17-latin-600.woff2") format("woff2"),
		/* Super Modern Browsers */ url("/fonts/work-sans-v17-latin-600.woff")
			format("woff"),
		/* Modern Browsers */ url("/fonts/work-sans-v17-latin-600.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("/fonts/work-sans-v17-latin-600.svg#WorkSans") format("svg"); /* Legacy iOS */
	font-display: swap;
}

/* work-sans-700 - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/work-sans-v17-latin-700.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("/fonts/work-sans-v17-latin-700.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("/fonts/work-sans-v17-latin-700.woff2") format("woff2"),
		/* Super Modern Browsers */ url("/fonts/work-sans-v17-latin-700.woff")
			format("woff"),
		/* Modern Browsers */ url("/fonts/work-sans-v17-latin-700.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("/fonts/work-sans-v17-latin-700.svg#WorkSans") format("svg"); /* Legacy iOS */
	font-display: swap;
}

html,
body,
#__next {
	height: 100%;
	background-color: var(--color-secondary);
	scroll-behavior: smooth;
}

:root {
	--color-primary: #0295f3;
	--color-secondary: #121212;
	--color-secondary-translucent: #121212a6;
	--color-neutral-white: #ffffff;
	--color-neutral-grey: #e5e5e5;

	--gradient-linear-neutral-white: linear-gradient(
		45deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 35%,
		rgba(255, 255, 255, 1) 50%,
		rgba(255, 255, 255, 1) 65%,
		rgba(255, 255, 255, 0) 100%
	);

	--border-size: 0.2rem;
	--border-radius: 0.85rem;

	--animation-duration: 500ms;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Assistant", sans-serif;
	color: var(--color-neutral-white);
}

.container-full {
	width: 100%;
	display: flex;
	justify-content: center;
	overflow-x: hidden;
}

.container-partial {
	max-width: calc(70rem + 2 * 2.5rem);
	width: 100%;
	padding: 2.5rem;
	box-sizing: border-box;
	position: relative;
}

.container-content {
	width: 35em;
}

h1,
h2,
h3,
h4,
h5 {
	width: fit-content;
}

h1 {
	font-size: 5rem;
	font-weight: 900;
	line-height: 3.5rem;
}

h2 {
	font-size: 2.85rem;
	font-weight: 700;
	line-height: 3.35rem;
}

h3 {
	font-size: 1.65rem;
	font-weight: 700;
	line-height: 1.35rem;
}

h4 {
	font-size: 1.15rem;
	font-weight: 700;
	line-height: 1.15rem;
}

h5 {
	font-size: 0.85rem;
	font-weight: 600;
	line-height: 1.5rem;
	letter-spacing: 0.025rem;
}

p {
	text-align: justify;
}

p,
li {
	margin-bottom: 1.5em;
	font-size: 1.15rem;
	font-weight: 500;
	line-height: 2.2rem;
}

p:last-child,
li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

a {
	color: var(--color-primary);
	font-weight: 600;
}

a:focus {
	outline: var(--border-size) solid var(--color-primary);
	outline-offset: 0.25em;
	border-radius: 0.35em;
}

a:active {
	opacity: 0.35;
}

small {
	margin-top: 0.65em;
	font-size: 0.85rem;
	font-weight: 300;
	font-style: italic;
	line-height: 1.65rem;
	display: block;
}

:focus:not(:focus-visible) {
	outline: none !important;
}

.form-row {
	margin-bottom: 1.5rem;
	display: flex;
	justify-content: center;
}

.form-row:last-child {
	margin-bottom: 0;
}

.form-element {
	width: 100%;
	margin-right: 1.5rem;
}

.form-element:last-child {
	margin-right: 0;
}

label {
	width: fit-content;
	margin-bottom: 0.5em;
	padding-left: 0.65em;
	display: flex;
	font-size: 1rem;
	font-weight: 600;
}

.form-p {
	margin-bottom: 1.5rem;
}

.pageclip-form__success {
	inset: -0.2rem;
	background-color: var(--color-secondary);
	opacity: 0.85;
}

.pageclip-form__success__message {
	color: var(--color-neutral-white);
}

@media (max-width: 1200px) {
	.container-partial {
		max-width: calc(50rem + 2 * 2.5rem);
	}

	.container-content {
		width: 100%;
	}
}

@media (max-width: 650px) {
	.container-partial {
		padding: 1.85rem;
	}

	h1 {
		font-size: 2.65rem;
		line-height: 2.65rem;
	}

	h2 {
		font-size: 1.85rem;
		line-height: 2.65rem;
	}

	h3 {
		font-size: 1.15rem;
		line-height: 1.15rem;
	}

	h4 {
		font-size: 1.05rem;
		line-height: 1.05rem;
	}

	h5 {
		font-size: 0.85rem;
		line-height: 1.5rem;
	}

	p,
	li {
		font-size: 1rem;
		line-height: 2.1rem;
	}

	.form-row {
		flex-direction: column;
	}

	.form-element {
		margin: 0 0 1.5rem 0;
	}

	.form-element:last-child {
		margin: 0;
	}

	label {
		width: fit-content;
		margin-bottom: 0.5em;
		padding-left: 2.5em;
		display: flex;
		font-size: 1rem;
		font-weight: 600;
	}

	.form-p {
		margin-bottom: 1.5rem;
	}
}
